<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h2><%= @user.full_name %>, your Rotten Mangoes account was deleted</h2>
    <p>
      Your account on Rotten Mangoes was deleted. If the deletion was a mistake, or if you change your mind, please head over to <%= @url %> and sign up again.
    </p>
    <p>
      Thank you and have a great day!
    </p>
  </body>
</html>