<h2>Admin Dashboard</h2>
<hr />

<%= link_to "All Users", admin_users_path, class: "new_edit" %>
&nbsp;
<%= link_to "Find User", admin_users_path, class: "new_edit" %>
&nbsp;
<%= link_to "Create User", new_admin_user_path, class: "new_edit" %>
&nbsp;
<%= link_to "Load Movie", new_admin_movie_path, class: "new_edit" %>
<hr />