<h1>Rotten Mangoes</h1>
<h2>Admin Dashboard</h2>

<hr>

<table border="1">
  <tr>
    <th>User Name</th>
    <th>Email</th>
  </tr>
  <% @admin_users.each do |user| %>
    <tr>
      <td>
        <h4>
          <%= link_to user.full_name, admin_user_path(user) %>
        </h4>
      </td>
      <td>
        <%= user.email %>
      </td>
    </tr>
  <% end %>
</table>