<div class="jumbotron">
  <h1>Rotten Mangoes</h1>
  <p>
    This Rotten Tomatoes clone allows users to submit movies and review them. It is a learning project for web development on Rails. Please don't take it seriously.
  </p>
</div>
